@import url("style/header.css");
@import url("style/footer.css");
@import url("style/left.css");
@import url("style/forms_style_2.css");
@import url("style/main_blocks.css");




.content {
    flex-wrap: wrap;
    align-items:stretch;
    margin: 30px;
    margin-left: 50px;
}
.page:before {
    position: absolute;
    content: "";
    top:450px !important;
    bottom: 0;
    left:0;
    right:0;
    background: #feed00;
}